<template>
	<v-parallax
		dark
		src="https://cdn.vuetifyjs.com/images/backgrounds/vbanner.jpg"
	>
		<v-row v-if="!started" align="center" justify="center">
			<v-col class="text-center" cols="12">
				<h1 class="display-1 font-weight-thin mb-4">Muziek Escape Kist</h1>
				<h4 class="subheading">Start the game</h4>
			</v-col>
		</v-row>
		<v-row v-else align="center" justify="center">
			<v-col class="text-center" cols="12">
				<h1 class="display-1 font-weight-thin mb-4">Muziek Escape Kist</h1>
				<h4 class="subheading" v-if="question">{{ question.title }}</h4>
				<div>{{ question.text }}</div>
			</v-col>
		</v-row>
		<v-dialog v-model="wait" persistent width="300">
			<v-card color="primary" dark>
				<v-card-text class="text-center">
					Even geduld a.u.b. ........ {{ 100 - waitValue }}
					<v-progress-linear
						indeterminate
						color="white"
						class="mb-0"
					></v-progress-linear>
				</v-card-text>
			</v-card>
		</v-dialog>
		<v-row v-if="false" align="center" justify="center">
			<v-col class="text-center" cols="12">
				<v-progress-circular
					:rotate="360"
					:size="100"
					:width="15"
					:value="waitValue"
					color="accent"
					dark
					>{{ waitValue }}</v-progress-circular
				>
			</v-col>
		</v-row>
	</v-parallax>
</template>

<script>
export default {
	name: "Home",
	components: {},
	data() {
		return {
			question: null,
			started: false,
			wait: false,
			waitValue: 10,
			interval: {}
		};
	},
	methods: {
		onGameQuestion(state) {
			this.question = state;
		},
		onGameQuestionSuccess() {},
		onGameQuestionFailure() {},
		onGameStarted() {
			this.started = true;
		},
		onGameEnded() {
			this.started = false;
		},
		onGamePaused() {
			this.wait = true;
		},
		onGameResumed() {
			this.wait = false;
		}
	},
	computed: {
		key() {
			return `${this.$route.fullPath}`;
		}
	},
	mounted() {},
	beforeDestroy() {
		// Make sure to cleanup SignalR event handlers when removing the component
		this.$bus.$off("game-started", this.onGameStarted);
		this.$bus.$off("game-ended", this.onGameEnded);
		this.$bus.$off("game-paused", this.onGamePaused);
		this.$bus.$off("game-resumed", this.onGameResumed);
		this.$bus.$off("game-question", this.onGameQuestion);
		this.$bus.$off("game-question-success", this.onGameQuestionSuccess);
		this.$bus.$off("game-question-failure", this.onGameQuestionFailure);
	},
	created() {
		// Listen to score changes coming from SignalR events
		this.$bus.$on("game-started", this.onGameStarted);
		this.$bus.$on("game-ended", this.onGameEnded);
		this.$bus.$on("game-paused", this.onGamePaused);
		this.$bus.$on("game-resumed", this.onGameResumed);
		this.$bus.$on("game-question", this.onGameQuestion);
		this.$bus.$on("game-question-success", this.onGameQuestionSuccess);
		this.$bus.$on("game-question-failure", this.onGameQuestionFailure);
	}
};
</script>
