<template>
	<v-fade-transition mode="out-in">
		<component
			:is="currentComponent"
			:question="question"
			:image="image"
			:on="on"
			:off="off"
			:up="up"
			:down="down"
		></component>
	</v-fade-transition>
</template>

<script>
import Start from "@/components/Start.vue";
import Wait from "@/components/Wait.vue";
import Failure from "@/components/Failure.vue";
import Success from "@/components/Success.vue";
import SystemDefault from "@/components/system/Default.vue";
import SystemB1 from "@/components/system/SystemB1.vue";

export default {
	name: "Home",
	components: { Start, Wait, Failure, Success, SystemDefault, SystemB1 },
	data() {
		return {
			currentComponent: "Start",
			question: null,
			started: false,
			wait: false,
			image: "",
			totalUp: 0,
			totalDown: 0,
			on: 0,
			off: 0,
			up: { id: 0, total: 0 },
			down: { id: 0, total: 0 }
		};
	},
	computed: {
		key() {
			return `${this.$route.fullPath}`;
		}
	},
	mounted() {},
	beforeDestroy() {
		// Make sure to cleanup SignalR event handlers when removing the component
		this.$bus.$off("on", this.setOn);
		this.$bus.$off("off", this.setOff);
		this.$bus.$off("up", this.setUp);
		this.$bus.$off("down", this.setDown);
		this.$bus.$off("game-started", this.onGameStarted);
		this.$bus.$off("game-ended", this.onGameEnded);
		this.$bus.$off("game-paused", this.onGamePaused);
		this.$bus.$off("game-resumed", this.onGameResumed);
		this.$bus.$off("game-question", this.onGameQuestion);
		this.$bus.$off("game-question-success", this.onGameQuestionSuccess);
		this.$bus.$off("game-question-failure", this.onGameQuestionFailure);
	},
	created() {
		// Listen to score changes coming from SignalR events
		this.$bus.$on("on", this.setOn);
		this.$bus.$on("off", this.setOff);
		this.$bus.$on("up", this.setUp);
		this.$bus.$on("down", this.setDown);
		this.$bus.$on("game-started", this.onGameStarted);
		this.$bus.$on("game-ended", this.onGameEnded);
		this.$bus.$on("game-paused", this.onGamePaused);
		this.$bus.$on("game-resumed", this.onGameResumed);
		this.$bus.$on("game-question", this.onGameQuestion);
		this.$bus.$on("game-question-success", this.onGameQuestionSuccess);
		this.$bus.$on("game-question-failure", this.onGameQuestionFailure);
	},
	methods: {
		handleSvgError() {},
		setOn(id) {
			this.on = id;
		},
		setOff(id) {
			this.off = id;
		},
		setUp(id) {
			this.totalUp++;
			this.up = { id: id, total: this.totalUp };
		},
		setDown(id) {
			this.totalDown++;
			this.down = { id: id, total: this.totalDown };
		},
		onGameQuestion(state) {
			if (state.system && this.$options.components[state.system]) {
				this.currentComponent = state.system;
			} else {
				this.currentComponent = "SystemDefault";
			}
			this.started = true;
			this.question = state;
		},
		onGameQuestionSuccess(state) {
			// console.log(state);
			this.image = state.image || "";
			this.currentComponent = "Success";
		},
		onGameQuestionFailure(state) {
			// console.log(state);
			this.image = state.image || "";
			this.currentComponent = "Failure";
		},
		onGameStarted(state) {
			this.started = true;
			this.image = state.image || "";
			this.currentComponent = "Wait";
		},
		onGameEnded() {
			this.started = false;
			this.currentComponent = "Start";
		},
		onGamePaused(state) {
			// console.log(state);
			this.image = state.image || "";
			this.currentComponent = "Wait";
		},
		onGameResumed() {}
	}
};
</script>
