<template>
  <v-card>
    <v-card-title primary-title>Game files</v-card-title>
    <v-card-text>
      <v-row v-for="(file, index) in files" :key="index">
        <v-col cols="1">
          <v-btn icon color="primary" dark @click="navigate('game-edit', { name: file.name })">
            <v-icon>mdi-pencil-outline</v-icon>
          </v-btn>
        </v-col>
        <v-col>{{ file.name }}</v-col>
        <v-col>{{ file.length }}</v-col>
        <v-col cols="1">
          <v-btn icon color="primary" target="_blank" :href="fileLink(file.name)">
            <v-icon>mdi-download</v-icon>
          </v-btn>
        </v-col>
        <v-col cols="1">
          <v-btn icon color="red">
            <v-icon @click="deleteFile(file.name)">mdi-delete</v-icon>
          </v-btn>
        </v-col>
      </v-row>
    </v-card-text>
    <v-card-actions>
      <dialog-new-game @save="newFile"></dialog-new-game>
      <dialog-upload-game @upload="uploadFile"></dialog-upload-game>
    </v-card-actions>
  </v-card>
</template>

<script>
import api from "@/api/CoreGameApi";
import DialogNewGame from "@/components/dialog/NewGame.vue";
import DialogUploadGame from "@/components/dialog/UploadGame.vue";

export default {
  name: "Game",
  components: { DialogNewGame, DialogUploadGame },
  data() {
    return {
      dialog: false,
      files: []
    };
  },
  methods: {
    newGame() {
      return {
        title: "",
        text: "",
        startSound: { filename: null, milliseconds: 0, offSetMilliseconds: 0 },
        waitSound: { filename: null, milliseconds: 0, offSetMilliseconds: 0 },
        endSound: { filename: null, milliseconds: 0, offSetMilliseconds: 0 },
        successSound: {
          filename: null,
          milliseconds: 0,
          offSetMilliseconds: 0
        },
        failureSound: {
          filename: null,
          milliseconds: 0,
          offSetMilliseconds: 0
        },
        questions: []
      };
    },
    fileLink(filename) {
      return `http://${window.location.hostname}:${process.env.VUE_APP_SIGNALR_PORTNR}/Game/Download/${filename}`;
    },
    async loadFiles() {
      var response = await api.fileList();
      if (response && response.data) {
        this.files = response.data;
      }
    },
    async playFile(filename) {
      await api.playFile({ filename: filename, milliseconds: 3000 });
    },
    async downloadFile(filename) {
      await api.downloadFile(filename);
    },
    async uploadFile(file) {
      if (file) {
        let formData = new FormData();
        formData.append("files", file, file.name);
        await api.uploadFile(formData);
      }
      await this.loadFiles();
    },
    async deleteFile(filename) {
      await api.deleteFile(filename);
      await this.loadFiles();
    },
    async newFile(newGameName) {
      if (newGameName) {
        await api.new(newGameName, this.newGame());
      }
      this.dialog = false;
      await this.loadFiles();
    }
  },
  computed: {
    key() {
      return `${this.$route.fullPath}`;
    }
  },
  async mounted() {
    await this.loadFiles();
  }
};
</script>
