<template>
	<v-card>
		<v-card-title primary-title>
			<div>
				<h3 class="headline mb-0">Edit game</h3>
				<div>{{ name }}</div>
			</div>
		</v-card-title>
		<v-card-actions>
			<v-btn text color="primary" @click="saveGame()">Save game</v-btn>
		</v-card-actions>
		<v-card-text>
			<div v-if="game">
				<v-row>
					<v-col cols="2">
						<v-text-field
							name="Time"
							label="Time in minutes"
							id="time"
							v-model="timeInMinutes"
							type="Number"
						></v-text-field>
					</v-col>
					<v-col cols="5">
						<v-text-field
							name="Title"
							label="Title"
							id="title"
							v-model="game.title"
						></v-text-field>
					</v-col>
					<v-col cols="5">
						<v-text-field
							name="Text"
							label="Text"
							id="text"
							v-model="game.text"
						></v-text-field>
					</v-col>
				</v-row>
				<v-row>
					<v-col cols="12">
						<v-expansion-panels v-model="panel" multiple>
							<v-expansion-panel>
								<v-expansion-panel-header>Events</v-expansion-panel-header>
								<v-expansion-panel-content>
									<game-event-row
										name="Start event: "
										:event="game.startEvent"
									></game-event-row>
									<game-event-row
										name="Wait event: "
										:event="game.waitEvent"
									></game-event-row>
									<game-event-row
										name="End event: "
										:event="game.endEvent"
									></game-event-row>
									<game-event-row
										name="Success event: "
										:event="game.successEvent"
									></game-event-row>
									<game-event-row
										name="Failure event: "
										:event="game.failureEvent"
									></game-event-row>
								</v-expansion-panel-content>
							</v-expansion-panel>
							<v-expansion-panel>
								<v-expansion-panel-header>Questions</v-expansion-panel-header>
								<v-expansion-panel-content>
									<v-row
										v-for="(question, index) in game.questions"
										:key="index"
									>
										<v-col cols="1">
											<dialog-edit-question
												:question="question"
											></dialog-edit-question>
										</v-col>
										<v-col cols="3">{{ question.title }}</v-col>
										<v-col cols="5">{{ question.text }}</v-col>
										<!-- <v-col cols="2">hints: {{ totalHints(question) }}</v-col> -->
										<v-col cols="2">{{ question.system }}</v-col>
										<v-col cols="1">
											<v-btn icon color="red">
												<v-icon @click="deleteQuestion(index)"
													>mdi-delete</v-icon
												>
											</v-btn>
										</v-col>
									</v-row>
									<v-btn color="success" text @click="addQuestion"
										>Add question</v-btn
									>
								</v-expansion-panel-content>
							</v-expansion-panel>
						</v-expansion-panels>
					</v-col>
				</v-row>
				<v-row>
					<v-col cols="12"> </v-col>
				</v-row>
			</div>
		</v-card-text>
	</v-card>
</template>

<script>
import api from "@/api/CoreGameApi";
import DialogEditQuestion from "@/components/dialog/EditQuestion.vue";
import GameEventRow from "@/components/GameEventRow.vue";

export default {
	name: "GameEdit",
	components: { DialogEditQuestion, GameEventRow },
	props: {
		name: {
			type: String,
			required: true
		}
	},
	data() {
		return {
			game: null,
			panel: [1]
		};
	},
	methods: {
		totalHints(question) {
			return question.hints.filter(x => x.text).length;
		},
		newQuestion() {
			return {
				title: "",
				text: "",
				hints: [
					{ title: null, text: null, costInSeconds: 0 },
					{ title: null, text: null, costInSeconds: 0 },
					{ title: null, text: null, costInSeconds: 0 }
				],
				system: "",
				answer: [],
				introSound: {
					filename: null,
					milliseconds: 0,
					offSetMilliseconds: 0
				},
				ImageName: null
			};
		},
		fileLink(filename) {
			return `http://${window.location.hostname}:${process.env.VUE_APP_SIGNALR_PORTNR}/Game/Download/${filename}`;
		},
		async saveGame() {
			var response = await api.update(this.name, this.game);
			if (response && response.data) {
				this.game = response.data;
			}
		},
		async getGame() {
			var response = await api.get(this.name);
			if (response && response.data) {
				this.game = response.data;
			}
		},
		addQuestion(question) {
			this.game.questions.push(this.newQuestion());
		},
		deleteQuestion(index) {
			if (this.game.questions) {
				this.game.questions.splice(index, 1);
			}
		}
	},
	computed: {
		timeInMinutes: {
			get() {
				return this.game.timeInMinutes;
			},
			set(newVal) {
				this.game.timeInMinutes = parseInt(newVal);
			}
		},
		key() {
			return `${this.$route.fullPath}`;
		}
	},
	async mounted() {
		await this.getGame();
	}
};
</script>
