<template>
	<div class="about">
		<v-container class="grey lighten-5">
			<v-row no-gutters>
				<v-col cols="12">
					<v-card color="black" class="pa-2" outlined tile height="100px">
						<digital-clock></digital-clock>
					</v-card>
				</v-col>
			</v-row>
			<v-row no-gutters>
				<v-col cols="12">
					<v-card class="pa-2" outlined tile height="100px">
						<game-question></game-question>
					</v-card>
				</v-col>
			</v-row>
			<v-row no-gutters>
				<v-col cols="12" sm="6">
					<button-system></button-system>
				</v-col>
				<v-col cols="12" sm="6" align="center" align-self="end" class="pa-4">
					<v-row>
						<v-col>
							<knob-control v-model="knob0" :min="0" :max="127"></knob-control>
						</v-col>
						<v-col>
							<knob-control v-model="knob1" :min="0" :max="127"></knob-control>
						</v-col>
					</v-row>
					<v-row>
						<v-col></v-col>
					</v-row>
					<v-row>
						<v-col>
							<v-btn color="red" fab x-large dark @click="bigButtonPress">
								<v-icon x-large dark>mdi-play</v-icon>
							</v-btn>
						</v-col>
					</v-row>
				</v-col>
			</v-row>
		</v-container>
	</div>
</template>

<script>
import KnobControl from "vue-knob-control";
import ButtonSystem from "@/components/ButtonSystem.vue";
import DigitalClock from "@/components/DigitalClock.vue";
import GameQuestion from "@/components/GameQuestion.vue";

export default {
	name: "Gpio",
	components: { ButtonSystem, DigitalClock, KnobControl, GameQuestion },
	data() {
		return {
			started: false,
			wait: false,
			waitValue: 10,
			interval: {},
			knob0: 0,
			knob1: 0
		};
	},
	watch: {
		knob0(newValue, oldValue) {
			if (newValue) {
				if (newValue > oldValue) {
					this.rotaryRotateUp(0);
				} else {
					this.rotaryRotateDown(0);
				}
			}
		},
		knob1(newValue, oldValue) {
			if (newValue) {
				if (newValue > oldValue) {
					this.rotaryRotateUp(1);
				} else {
					this.rotaryRotateDown(1);
				}
			}
		}
	},
	methods: {
		rotaryRotateDown(button) {
			this.$bus.rotaryRotateDown(button);
		},
		rotaryRotateUp(button) {
			this.$bus.rotaryRotateUp(button);
		},
		bigButtonPress() {
			this.$bus.buttonPressed(16);
		},
		onGameStarted() {
			this.started = true;
		},
		onGamePaused(state) {
			this.wait = true;
		},
		onGameResumed(state) {
			this.wait = false;
		}
	},
	computed: {
		key() {
			return `${this.$route.fullPath}`;
		}
	},
	mounted() {},
	beforeDestroy() {
		// Make sure to cleanup SignalR event handlers when removing the component
		this.$bus.$off("game-started", this.onGameStarted);
		this.$bus.$off("game-paused", this.onGamePaused);
		this.$bus.$off("game-resumed", this.onGameResumed);
	},
	created() {
		// Listen to score changes coming from SignalR events
		this.$bus.$on("game-started", this.onGameStarted);
		this.$bus.$on("game-paused", this.onGamePaused);
		this.$bus.$on("game-resumed", this.onGameResumed);
	}
};
</script>
