<template>
	<v-card>
		<v-card-title primary-title>Escape Kist</v-card-title>
		<v-card-text>
			<v-btn color="success" text href="http://raspberrypi:9000" target="_blank"
				>Portainer</v-btn
			>
		</v-card-text>
	</v-card>
</template>

<script>
export default {
	name: "home",
	components: {},
	data() {
		return {};
	},
	computed: {},
	async mounted() {}
};
</script>
