<template>
  <v-card>
    <v-card-title primary-title>Image files</v-card-title>
    <v-card-text>
      <v-row v-for="(file, index) in files" :key="index">
        <v-col cols="1">
          <dialog-image :url="fileLink(file.name)"></dialog-image>
        </v-col>
        <v-col>{{ file.name }}</v-col>
        <v-col>{{ file.length }}</v-col>
        <v-col cols="1">
          <v-btn icon color="primary" target="_blank" :href="fileLink(file.name)">
            <v-icon>mdi-download</v-icon>
          </v-btn>
        </v-col>
        <v-col cols="1">
          <v-btn icon color="red">
            <v-icon @click="deleteFile(file.name)">mdi-delete</v-icon>
          </v-btn>
        </v-col>
      </v-row>
    </v-card-text>
    <v-card-actions>
      <dialog-upload-image @upload="uploadFile"></dialog-upload-image>
    </v-card-actions>
  </v-card>
</template>

<script>
import api from "@/api/CoreImageApi";
import DialogImage from "@/components/dialog/Image.vue";
import DialogUploadImage from "@/components/dialog/UploadImage.vue";

export default {
  name: "Image",
  components: { DialogImage, DialogUploadImage },
  data() {
    return {
      files: [],
      file: null
    };
  },
  methods: {
    fileLink(filename) {
      return `http://${window.location.hostname}:${process.env.VUE_APP_SIGNALR_PORTNR}/Image/Download/${filename}`;
    },
    async loadFiles() {
      var response = await api.fileList();
      if (response && response.data) {
        this.files = response.data;
      }
    },
    async playFile(filename) {
      await api.playFile({ filename: filename, milliseconds: 3000 });
    },
    async uploadFile(file) {
      if (file) {
        let formData = new FormData();
        formData.append("files", file, file.name);
        await api.uploadFile(formData);
      }
      await this.loadFiles();
    },
    async deleteFile(filename) {
      await api.deleteFile(filename);
      await this.loadFiles();
    }
  },
  computed: {
    key() {
      return `${this.$route.fullPath}`;
    }
  },
  async mounted() {
    await this.loadFiles();
  }
};
</script>
