<template>
	<div id="products">
		<h1>App Logging</h1>
		<ul>
			<li v-for="(line, index) in coreAppLog" :key="index">{{ line }}</li>
		</ul>
	</div>
</template>

<script>
import { mapState } from "vuex";

export default {
	name: "LoggingCoreApp",
	components: {},
	data() {
		return {};
	},
	computed: {
		...mapState(["coreAppLog"])
	},
	methods: {}
};
</script>
