<template>
	<div id="products">
		<h1>Gpio Logging</h1>
		<ul>
			<li v-for="(line, index) in coreGpioLog" :key="index">{{ line }}</li>
		</ul>
	</div>
</template>

<script>
import { mapState } from "vuex";

export default {
	name: "LoggingCoreGpio",
	components: {},
	data() {
		return {};
	},
	computed: {
		...mapState(["coreGpioLog"])
	},
	methods: {}
};
</script>
