<template>
	<v-card>
		<v-card-title primary-title>Midi Sound</v-card-title>
		<v-card-text>
			<v-row>
				<v-col cols="1">
					<v-btn icon color="primary">
						<v-icon @click="playNote()">mdi-play</v-icon>
					</v-btn>
				</v-col>
				<v-col>
					<v-text-field
						name="note"
						label="Note"
						v-model="note"
						type="number"
						id="note"
					></v-text-field>
				</v-col>
				<v-col>
					<v-text-field
						name="milliseconds"
						label="Milliseconds"
						v-model="milliSeconds"
						type="number"
						id="milliseconds"
					></v-text-field>
				</v-col>
				<v-col>
					<v-text-field
						name="velocity"
						label="Velocity"
						v-model="velocity"
						type="number"
						id="velocity"
					></v-text-field>
				</v-col>
				<v-col>
					<v-select
						:items="instruments"
						label="Instrument"
						v-model="instrument"
						@change="playNote"
					></v-select>
				</v-col>
			</v-row>
			<v-row>
				<v-col cols="1">
					<v-btn icon color="primary">
						<v-icon @click="playPercussion">mdi-play</v-icon>
					</v-btn>
				</v-col>
				<v-col>
					<v-text-field
						name="note"
						label="Note"
						v-model="note"
						type="number"
						id="note"
					></v-text-field>
				</v-col>
				<v-col>
					<v-text-field
						name="milliseconds"
						label="Milliseconds"
						v-model="milliSeconds"
						type="number"
						id="milliseconds"
					></v-text-field>
				</v-col>
				<v-col>
					<v-text-field
						name="velocity"
						label="Velocity"
						v-model="velocity"
						type="number"
						id="velocity"
					></v-text-field>
				</v-col>
				<v-col>
					<v-select
						:items="percussions"
						label="Instrument"
						v-model="percussion"
						@change="playPercussion"
					></v-select>
				</v-col>
			</v-row>
		</v-card-text>
		<v-card-actions></v-card-actions>
	</v-card>
</template>

<script>
import api from "@/api/CoreMidiApi";

export default {
	name: "Midi",
	components: {},
	data() {
		return {
			instruments: [],
			percussions: [],
			note: 60,
			milliSeconds: 1000,
			velocity: 127,
			instrument: null,
			percussion: null
		};
	},
	methods: {
		async playNote() {
			await api.playNote({
				note: this.note,
				milliseconds: this.milliSeconds,
				velocity: this.velocity,
				instrument: this.instrument
			});
		},
		async playPercussion() {
			await api.playPercussion({
				milliseconds: this.milliSeconds,
				velocity: this.velocity,
				percussion: this.percussion
			});
		},
		async getInstruments() {
			var response = await api.getInstruments();
			if (response && response.data) {
				this.instruments = response.data;
			}
		},
		async getPercussions() {
			var response = await api.getPercussions();
			if (response && response.data) {
				this.percussions = response.data;
			}
		}
	},
	computed: {
		key() {
			return `${this.$route.fullPath}`;
		}
	},
	async mounted() {
		await this.getInstruments();
		await this.getPercussions();
	}
};
</script>
