<template>
	<v-container class="grey lighten-5">
		<v-row no-gutters>
			<v-col v-for="button in buttons" :key="button.id" cols="12" sm="6">
				<v-card class="pa-2" outlined tile>
					<v-card-actions>
						<v-spacer v-if="button.id % 2 != 0"></v-spacer>
						<v-btn
							fab
							:color="button.on ? 'secondary' : 'primary'"
							@mousedown="mouseDown(button.id)"
							@mouseup="mouseUp(button.id)"
						>
							<v-icon dark>{{ button.id }}</v-icon>
						</v-btn>
					</v-card-actions>
				</v-card>
			</v-col>
		</v-row>
	</v-container>
</template>

<script>
export default {
	name: "ButtonSystem",
	components: {},
	props: {
		dialogVisible: Boolean
	},
	data() {
		return {
			buttons: [
				{ id: 1, on: false },
				{ id: 2, on: false },
				{ id: 3, on: false },
				{ id: 4, on: false },
				{ id: 5, on: false },
				{ id: 6, on: false },
				{ id: 7, on: false },
				{ id: 8, on: false },
				{ id: 9, on: false },
				{ id: 10, on: false }
			],
			timeLeft: 1800,
			num: 3000
		};
	},
	watch: {},
	computed: {
		dialog: {
			get: function() {
				if (this.dialogVisible) {
					// Some dialog initialization code could be placed here
					// because it is called only when this.dialogVisible changes
				}

				return this.dialogVisible;
			},
			set: function(value) {
				if (!value) {
					this.$emit("close");
				}
			}
		}
	},
	methods: {
		async mouseDown(button) {
			this.$bus.buttonPressed(button);
		},
		async mouseUp(button) {
			this.$bus.buttonReleased(button);
		},
		async ledOn(id) {
			this.buttons[id - 1].on = true;
		},
		async ledOff(id) {
			this.buttons[id - 1].on = false;
		}
	},
	mounted() {},
	beforeDestroy() {
		// Make sure to cleanup SignalR event handlers when removing the component
		this.$bus.$off("on", this.ledOn);
		this.$bus.$off("off", this.ledOff);
	},
	created() {
		// Listen to score changes coming from SignalR events
		this.$bus.$on("on", this.ledOn);
		this.$bus.$on("off", this.ledOff);
	}
};
</script>
