<template>
  <div id="clock">
    <p class="date">{{ date }}</p>
    <p class="time">{{ time }}</p>
    <p class="text">time left</p>
  </div>
</template>

<script>
export default {
  name: "DigitalClock",
  components: {},
  data() {
    return {
      time: "00:00",
      date: " xx "
    };
  },
  methods: {
    updateTime(secondsLeft) {
      this.time =
        this.zeroPadding(Math.floor(secondsLeft / 60), 2) +
        ":" +
        this.zeroPadding(secondsLeft % 60, 2);
      /*
      this.time =
        this.zeroPadding(cd.getHours(), 2) +
        ":" +
        this.zeroPadding(cd.getMinutes(), 2) +
        ":" +
        this.zeroPadding(cd.getSeconds(), 2);
      this.date =
        this.zeroPadding(cd.getFullYear(), 4) +
        "-" +
        this.zeroPadding(cd.getMonth() + 1, 2) +
        "-" +
        this.zeroPadding(cd.getDate(), 2) +
        " ";
        */
    },
    zeroPadding(num, digit) {
      var zero = "";
      for (var i = 0; i < digit; i++) {
        zero += "0";
      }
      return (zero + num).slice(-digit);
    }
  },
  computed: {
    key() {
      return `${this.$route.fullPath}`;
    }
  },
  mounted() {},
  beforeDestroy() {
    // Make sure to cleanup SignalR event handlers when removing the component
    this.$bus.$off("time", this.updateTime);
  },
  created() {
    // Listen to score changes coming from SignalR events
    this.$bus.$on("time", this.updateTime);
  }
};
</script>

<style lang="scss" scoped>
html,
body {
  height: 100%;
}
body {
  background: #0f3854;
  background: radial-gradient(ellipse at center, #0a2e38 0%, #000000 70%);
  background-size: 100%;
}
p {
  margin: 0;
  padding: 0;
}
#clock {
  font-family: "Share Tech Mono", monospace;
  color: #ffffff;
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: #daf6ff;
  text-shadow: 0 0 20px rgba(10, 175, 230, 1), 0 0 20px rgba(10, 175, 230, 0);
  .time {
    letter-spacing: 0.05em;
    font-size: 80px;
    padding: 5px 0;
  }
  .date {
    letter-spacing: 0.1em;
    font-size: 24px;
  }
  .text {
    letter-spacing: 0.1em;
    font-size: 12px;
    padding: 20px 0 0;
  }
}
</style>