<template>
	<div>
		<v-row v-if="event" align="center" dense>
			<v-col cols="2" class="text-right">{{ name }}</v-col>
			<v-col cols="10">
				<v-card>
					<v-card-text>
						<image-row name="image" v-model="event.image"></image-row>
						<sound-row name="sound" :sound="event.sound"></sound-row>
					</v-card-text>
				</v-card>
			</v-col>
		</v-row>
	</div>
</template>

<script>
import SoundRow from "@/components/SoundRow.vue";
import ImageRow from "@/components/ImageRow.vue";

export default {
	name: "GameEventRow",
	components: { SoundRow, ImageRow },
	props: {
		event: { type: Object, required: true },
		name: { type: String, required: true }
	},
	data() {
		return {
			dialog: false,
			soundfiles: []
		};
	},
	computed: {},
	methods: {},
	mounted: function() {},
	created: function() {}
};
</script>
