<template>
  <div id="question" v-if="question">
    <p class="date">{{ question.title }}</p>
    <p class="time">{{ question.text }}</p>
  </div>
</template>

<script>
export default {
  name: "GameQuestion",
  components: {},
  data() {
    return {
      question: null
    };
  },
  methods: {
    gameQuestion(question) {
      this.question = question;
    },
    onGameEnded() {
      this.question = { title: "The end.", text: "YEAH !!!!" };
    }
  },
  computed: {
    key() {
      return `${this.$route.fullPath}`;
    }
  },
  mounted() {},
  beforeDestroy() {
    // Make sure to cleanup SignalR event handlers when removing the component
    this.$bus.$off("game-question", this.gameQuestion);
    this.$bus.$off("game-ended", this.onGameEnded);
  },
  created() {
    // Listen to score changes coming from SignalR events
    this.$bus.$on("game-question", this.gameQuestion);
    this.$bus.$on("game-ended", this.onGameEnded);
  }
};
</script>