<template>
  <v-row v-if="hint" align="center" dense>
    <v-col cols="1" class="text-right">{{name}}</v-col>
    <v-col cols="3">
      <v-text-field label="Title" required v-model="hint.title"></v-text-field>
    </v-col>
    <v-col cols="6">
      <v-text-field label="Text" required v-model="hint.text"></v-text-field>
    </v-col>
    <v-col cols="2">
      <v-text-field type="number" label="Cost (s)" required v-model="costInSeconds"></v-text-field>
    </v-col>
  </v-row>
</template>

<script>
export default {
  name: "HintRow",
  components: {},
  props: {
    hint: { type: Object, required: true },
    name: { type: String, required: true }
  },
  data() {
    return {
      dialog: false
    };
  },
  computed: {
    costInSeconds: {
      get() {
        return this.hint.costInSeconds;
      },
      set(newVal) {
        this.hint.costInSeconds = parseInt(newVal);
      }
    }
  },
  methods: {},
  mounted: function() {},
  created: function() {}
};
</script>
