<template>
	<v-row align="center" dense>
		<v-col cols="2" class="text-right">{{ name }}</v-col>
		<v-col cols="5">
			<v-select
				clearable
				:items="files"
				label="Filename"
				item-text="name"
				item-value="name"
				v-model="imageUrlLocal"
			></v-select>
		</v-col>
		<v-col cols="4">
			<v-img
				v-if="imageUrlLocal"
				:src="fileLink(imageUrlLocal)"
				height="100px"
				contain
			></v-img>
		</v-col>
	</v-row>
</template>

<script>
import api from "@/api/CoreImageApi";

export default {
	name: "ImageRow",
	components: {},
	props: {
		imageUrl: { type: String, required: true },
		name: { type: String, required: true }
	},
	model: {
		prop: "imageUrl",
		event: "imageUrlchange"
	},
	data() {
		return {
			dialog: false,
			files: []
		};
	},
	computed: {
		imageUrlLocal: {
			get: function() {
				return this.imageUrl;
			},
			set: function(value) {
				this.$emit("imageUrlchange", value);
			}
		}
	},
	methods: {
		fileLink(filename) {
			return `http://${window.location.hostname}:${process.env.VUE_APP_SIGNALR_PORTNR}/Image/Download/${filename}`;
		},
		async loadFiles() {
			var response = await api.fileList();
			if (response && response.data) {
				this.files = response.data;
			}
		}
	},
	mounted: function() {
		this.loadFiles();
	},
	created: function() {}
};
</script>
