<template>
	<v-row v-if="sound" align="center" dense>
		<v-col cols="2" class="text-right">{{ name }}</v-col>
		<v-col>
			<v-select
				clearable
				:items="soundfiles"
				label="Filename"
				item-text="name"
				item-value="name"
				v-model="sound.filename"
			></v-select>
		</v-col>
		<v-col cols="2">
			<v-text-field
				name="milliseconds"
				label="(ms)"
				v-model="milliseconds"
				type="number"
			></v-text-field>
		</v-col>
		<v-col cols="2">
			<v-text-field
				name="offSetMilliseconds"
				label="offSet (ms)"
				v-model="offSetMilliseconds"
				type="number"
			></v-text-field>
		</v-col>
		<v-col cols="1">
			<v-btn icon color="success" @click="playSound">
				<v-icon>mdi-play</v-icon>
			</v-btn>
		</v-col>
	</v-row>
</template>

<script>
import api from "@/api/CoreMidiApi";

export default {
	name: "SoundRow",
	components: {},
	props: {
		sound: { type: Object, required: true },
		name: { type: String, required: true }
	},
	data() {
		return {
			dialog: false,
			soundfiles: []
		};
	},
	computed: {
		milliseconds: {
			get() {
				return this.sound.milliseconds;
			},
			set(newVal) {
				this.sound.milliseconds = parseInt(newVal);
			}
		},
		offSetMilliseconds: {
			get() {
				return this.sound.offSetMilliseconds;
			},
			set(newVal) {
				this.sound.offSetMilliseconds = parseInt(newVal);
			}
		}
	},
	methods: {
		async loadFiles() {
			var response = await api.fileList();
			if (response && response.data) {
				this.soundfiles = response.data;
			}
		},
		async playSound() {
			await api.playFile(this.sound);
		}
	},
	mounted: function() {
		this.loadFiles();
	},
	created: function() {}
};
</script>
