<template>
  <v-dialog
    v-model="dialog"
    fullscreen
    hide-overlay
    transition="scale-transition"
  >
    <template v-slot:activator="{ on }">
      <v-btn class="ma-2" target="_blank" large color="primary" v-on="on">
        <v-icon large>mdi-clock-outline</v-icon>
      </v-btn>
    </template>
    <v-card height="100%" color="rgb(200, 200, 200, 0.9)">
      <v-container fill-height fluid>
        <v-row align="center" justify="center">
          <v-col> <flip-countdown :deadline="deadline"></flip-countdown></v-col>
        </v-row>
        <v-row align="center" justify="center">
          <v-btn x-large @click="dialog = false" color="primary">
            SLUITEN
            <v-icon>mdi-close</v-icon>
          </v-btn>
        </v-row>
      </v-container>
    </v-card>
  </v-dialog>
</template>

<script>
import FlipCountdown from "vue2-flip-countdown";
import moment from "moment";
import api from "@/api/CoreAppApi";

const fmt = "YYYY-MM-DD HH:mm:ss";

export default {
  name: "HintDialog",
  components: { FlipCountdown },
  data() {
    return {
      dialog: false,
      timeLeft: 1800
    };
  },
  watch: {
    dialog: async function(val) {
      if (val) {
        var result = await api.timeLeft();
        if (result) {
          this.timeLeft = result.data;
        }
      }
    }
  },
  computed: {
    deadline() {
      return moment()
        .add(this.timeLeft, "s")
        .format(fmt);
    }
  },
  async mounted() {}
};
</script>
