<template>
  <v-dialog
    v-model="dialog"
    fullscreen
    hide-overlay
    transition="scale-transition"
  >
    <template v-slot:activator="{ on }">
      <v-btn class="ma-2" target="_blank" large color="primary" v-on="on">
        <v-icon large>mdi-clock-outline</v-icon>
      </v-btn>
    </template>
    <v-card height="100%" color="rgb(200, 200, 200, 0.9)">
      <v-container fill-height fluid>
        <v-row align="center" justify="center">
          <v-btn
            class="mx-2"
            fab
            dark
            large
            color="purple"
            @click="playNote(60)"
            >C</v-btn
          >
          <v-btn
            class="mx-2"
            fab
            dark
            large
            color="purple"
            @click="playNote(60)"
            >D</v-btn
          >
          <v-btn
            class="mx-2"
            fab
            dark
            large
            color="purple"
            @click="playNote(62)"
            >E</v-btn
          >
          <v-btn
            class="mx-2"
            fab
            dark
            large
            color="purple"
            @click="playNote(64)"
            >F</v-btn
          >
          <v-btn
            class="mx-2"
            fab
            dark
            large
            color="purple"
            @click="playNote(66)"
            >G</v-btn
          >
        </v-row>
        <v-row align="center" justify="center">
          <v-btn x-large @click="dialog = false" color="primary">
            SLUITEN
            <v-icon>mdi-close</v-icon>
          </v-btn>
        </v-row>
      </v-container>
    </v-card>
  </v-dialog>
</template>

<script>
import api from "@/api/CoreMidiApi";

export default {
  name: "NoteDialog",
  components: {},
  data() {
    return {
      dialog: false,
      timeLeft: 1800
    };
  },
  methods: {
    async playNote(note) {
      var input = {
        note: note,
        milliseconds: 5000,
        velocity: 70,
        instrument: 69
      };
      api.playNote(input);
    }
  },
  computed: {},
  mounted() {}
};
</script>
