<template>
	<v-card color="primary" dark height="100%" class="px-5">
		<v-card-title class="overline justify-center"
			>Muziek Escape Kist ({{ clientIp }})</v-card-title
		>
		<v-card-title class="display-1 justify-center">Maak een keuze</v-card-title>

		<v-container>
			<!--
			<v-row justify="center">
				<v-col cols="auto">
					<v-fab-transition>
						<v-img
							@click="logoClick"
							@v-touch="logoClick"
							v-show="show"
							width="300"
							src="@/assets/logo_phoenix.png"
						></v-img>
					</v-fab-transition>
				</v-col>
			</v-row>
			-->
			<v-row
				align="center"
				justify="center"
				class="grey lighten-5"
				style="height: 300px;"
			>
				<v-btn
					elevation-12
					x-large
					color="success"
					v-for="(game, index) in games"
					:key="index"
					dark
					class="ma-3 pa-12"
					@click="startGame(game.name)"
					@v-touch="startGame(game.name)"
					>{{ game.shortName }}</v-btn
				>
			</v-row>
		</v-container>
	</v-card>
</template>

<script>
import api from "@/api/CoreAppApi";

export default {
	name: "Start",
	data() {
		return {
			polling: null,
			games: [],
			show: true,
			clientIp: ""
		};
	},
	methods: {
		async getGames() {
			try {
				var response = await api.getGames();
				if (response && response.data) {
					this.games = response.data;
				}
			} catch (error) {
				// do nothing
			}
		},
		async startGame(filename) {
			await api.startGame(filename);
		},
		logoClick() {
			this.show = false;
			setTimeout(() => {
				this.show = true;
			}, 500);
		},
		getLocalIp() {
			var that = this;

			window.RTCPeerConnection =
				window.RTCPeerConnection ||
				window.mozRTCPeerConnection ||
				window.webkitRTCPeerConnection; //compatibility for Firefox and chrome
			var pc = new RTCPeerConnection({ iceServers: [] }),
				noop = function() {};
			pc.createDataChannel(""); //create a bogus data channel
			pc.createOffer(pc.setLocalDescription.bind(pc), noop); // create offer and set local description
			pc.onicecandidate = function(ice) {
				if (ice && ice.candidate && ice.candidate.candidate) {
					that.clientIp = /([0-9]{1,3}(\.[0-9]{1,3}){3}|[a-f0-9]{1,4}(:[a-f0-9]{1,4}){7})/.exec(
						ice.candidate.candidate
					)[1];
					// console.log("my IP: ", myIP);
					pc.onicecandidate = noop;
				}
			};
		}
	},
	components: {},
	computed: {},
	beforeDestroy() {
		clearInterval(this.polling);
	},
	async mounted() {
		this.getLocalIp();
		await this.getGames();
		this.polling = setInterval(async () => {
			this.getLocalIp();
			await this.getGames();
		}, 3000);
	}
};
</script>
