<template>
	<v-dialog
		v-model="dialog"
		fullscreen
		hide-overlay
		transition="scale-transition"
	>
		<v-card height="100%" color="rgb(200, 200, 200, 0.9)">
			<v-container fill-height fluid>
				<v-row align="center" justify="center">
					<v-col> </v-col>
				</v-row>
				<v-row align="center" justify="center">
					<v-btn large @click="startGame" color="primary">
						Start
						<v-icon large>mdi-play</v-icon>
					</v-btn>
				</v-row>
			</v-container>
		</v-card>
	</v-dialog>
</template>

<script>
import api from "@/api/CoreAppApi";

export default {
	name: "StartDialog",
	components: {},
	props: {
		dialogVisible: Boolean
	},
	data() {
		return {
			timeLeft: 1800,
			num: 3000
		};
	},
	watch: {},
	computed: {
		dialog: {
			get: function() {
				if (this.dialogVisible) {
					// Some dialog initialization code could be placed here
					// because it is called only when this.dialogVisible changes
				}

				return this.dialogVisible;
			},
			set: function(value) {
				if (!value) {
					this.$emit("close");
				}
			}
		}
	},
	methods: {
		async startGame() {
			await api.startGame();
			this.dialog = false;
		}
	},
	mounted() {}
};
</script>
