<template>
	<v-card color="primary" dark height="100%" width="100%">
		<object
			class="classDrawingContainer"
			id="my-svg"
			type="image/svg+xml"
			:data="source"
			style="width: 100%; height: 100%; border:1px solid black; "
		></object>
	</v-card>
</template>

<script>
export default {
	name: "Wait",
	data() {
		return {
			clientIp: ""
		};
	},
	props: {
		question: {
			type: Object,
			default: null
		},
		image: { type: String, default: "" }
	},
	methods: {},
	components: {},
	computed: {
		source() {
			// return `${process.env.VUE_APP_CDN}svg/${this.classId}.svg`;
			return `/Lucky.svg`;
		}
	}
};
</script>
