<template>
	<v-card color="primary" dark height="100%" width="100%">
		<v-img :src="source" height="100%" contain @error="onImageError"></v-img>
	</v-card>
</template>

<script>
export default {
	name: "Wait",
	props: {
		question: {
			type: Object,
			default: null
		},
		image: { type: String, default: "" }
	},
	data() {
		return {
			error: false
		};
	},
	methods: {
		onImageError() {
			this.error = true;
		}
	},
	components: {},
	computed: {
		source() {
			{
				return this.error || !this.image
					? "/Wait.svg"
					: `http://${window.location.hostname}:${process.env.VUE_APP_SIGNALR_PORTNR}/Image/Download/${this.image}`;
			}
		}
	}
};
</script>
