<template>
	<v-card v-if="question.image" color="primary" dark height="100%" width="100%">
		<v-img :src="source" height="100%" contain @error="onImageError"></v-img>
	</v-card>

	<v-card v-else color="primary" dark height="100%" class="px-5">
		<v-card-title class=" justify-center"></v-card-title
		><span v-if="question">{{ question.title }}</span>
		<v-card-title class="display-1 justify-center"
			><span v-if="question">{{ question.text }}</span></v-card-title
		>
	</v-card>
</template>

<style scoped>
.v-card__text,
.v-card__title {
	word-break: normal; /* maybe !important  */
}
</style>

<script>
export default {
	name: "SystemDefault",
	data() {
		return {};
	},
	props: {
		question: {
			type: Object,
			default: null
		},
		image: { type: String, default: "" }
	},
	methods: {
		onImageError() {
			this.question.image = "";
		}
	},
	components: {},
	computed: {
		source() {
			{
				return `http://${window.location.hostname}:${process.env.VUE_APP_SIGNALR_PORTNR}/Image/Download/${this.question.image}`;
			}
		}
	}
};
</script>
