<template>
	<v-card color="primary" dark height="100%" class="px-5">
		<v-card-title class=" justify-center"></v-card-title><span>SystemA1</span>
		<v-card-title class="display-1 justify-center"
			><span>ff Kijken {{ onArray }}</span></v-card-title
		>
		<v-card-text>
			<v-row>
				<v-slider
					v-for="item in 10"
					:key="item"
					:value="values[item - 1]"
					readonly
					width="10px"
					step="0"
					vertical
					thumb-label
					:color="onArray.includes(item) ? 'red' : 'white'"
					min="-10"
					max="10"
				></v-slider
			></v-row>
		</v-card-text>
	</v-card>
</template>

<style scoped>
.v-card__text,
.v-card__title {
	word-break: normal; /* maybe !important  */
}
</style>

<script>
export default {
	name: "SystemB1",
	props: {
		question: {
			type: Object,
			default: null
		},
		image: { type: String, default: "" },
		on: {
			type: Number,
			default: null
		},
		off: {
			type: Number,
			default: null
		},
		up: {
			type: Object,
			required: true
		},
		down: {
			type: Object,
			required: true
		}
	},
	data() {
		return {
			values: [0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
			onArray: []
		};
	},
	computed: {},
	watch: {
		on(id) {
			if (this.onArray.indexOf(id) === -1) this.onArray.push(id);
		},
		off(id) {
			const index = this.onArray.indexOf(id);
			if (index > -1) {
				this.onArray.splice(index, 1);
			}
		},
		up(data) {
			if (data.id == 0) {
				this.onArray.forEach(element => {
					this.$set(this.values, element - 1, this.values[element - 1] + 1);
				});
			}
		},
		down(data) {
			if (data.id == 0) {
				this.onArray.forEach(element => {
					this.$set(this.values, element - 1, this.values[element - 1] - 1);
				});
			}
		}
	},
	methods: {}
};
</script>
