<template>
  <v-app-bar app color="white" flat>
    <v-toolbar-title class="font-weight-black primary--text ligthen-4"
      >GAME ON</v-toolbar-title
    >
    <!--
    <div class="d-flex align-center">
      <v-img
        class="shrink mr-2"
        contain
        src="@/assets/logo.png"
        transition="scale-transition"
        width="200"
      />
    </div>
    -->

    <v-spacer></v-spacer>

    <v-btn class="badgebutton ma-2" target="_blank" large color="primary">
      <v-badge color="green" overlap icon="mdi-check" bottom>
        <v-icon large>mdi-help</v-icon>
      </v-badge>
    </v-btn>

    <v-btn class="badgebutton ma-2" color="primary" dark target="_blank" large>
      <v-badge content="-30s" color="red" overlap bottom>
        <v-icon large>mdi-help</v-icon>
      </v-badge>
    </v-btn>

    <v-btn class="badgebutton ma-2" target="_blank" large color="primary">
      <v-badge content="-30s" color="red" overlap bottom>
        <v-icon large>mdi-help</v-icon>
      </v-badge>
    </v-btn>

    <time-dialog></time-dialog>

    <note-dialog></note-dialog>log
    <start-dialog
      :dialogVisible="startDialogVisible"
      @close="startDialogClose"
    ></start-dialog>
  </v-app-bar>
</template>

<script>
import StartDialog from "@/components/StartDialog.vue";
import TimeDialog from "@/components/TimeDialog.vue";
import NoteDialog from "@/components/NoteDialog.vue";

export default {
  name: "CoreAppBar",
  components: { TimeDialog, NoteDialog, StartDialog },
  data() {
    return {
      clipped: false,
      startDialogVisible: false
    };
  },
  computed: {},
  methods: {
    toggleDrawer: function() {
      this.$emit("toggle-drawer", true);
    },
    startDialogClose() {
      this.startDialogVisible = false;
    }
  },
  mounted: function() {
    this.startDialogVisible = true;
  },
  created: function() {}
};
</script>

<style scoped>
.badgebutton {
  text-transform: none;
}
</style>
