<template>
  <v-fade-transition mode="out-in">
    <router-view :key="key" />
  </v-fade-transition>
</template>

<script>
export default {
  name: "CoreView",
  components: {},
  computed: {
    key() {
      return `${this.$route.fullPath}`;
    }
  }
};
</script>
