<template>
  <v-app-bar app color="primary" dark>
    <v-app-bar-nav-icon @click.stop="toggleDrawer()"></v-app-bar-nav-icon>
    <v-toolbar-title>Music Escape Box</v-toolbar-title>
    <v-spacer></v-spacer>
  </v-app-bar>
</template>

<script>
export default {
  name: "CoreAppBar",
  components: {},
  data() {
    return {
      clipped: false
    };
  },
  computed: {},
  methods: {
    toggleDrawer: function() {
      this.$emit("toggle-drawer", true);
    }
  },
  mounted: function() {},
  created: function() {}
};
</script>
