<template>
	<v-navigation-drawer v-model="drawer" mobile-break-point="800" clipped app>
		<v-list dense nav>
			<v-list-item link :to="{ name: 'gpio' }">
				<v-list-item-icon>
					<v-icon>mdi-gesture-tap-button</v-icon>
				</v-list-item-icon>

				<v-list-item-content>
					<v-list-item-title>Gpio</v-list-item-title>
				</v-list-item-content>
			</v-list-item>
			<v-list-item link :to="{ name: 'image' }">
				<v-list-item-icon>
					<v-icon>mdi-image</v-icon>
				</v-list-item-icon>

				<v-list-item-content>
					<v-list-item-title>Images</v-list-item-title>
				</v-list-item-content>
			</v-list-item>

			<v-list-item link :to="{ name: 'midi-music' }">
				<v-list-item-icon>
					<v-icon>mdi-music</v-icon>
				</v-list-item-icon>

				<v-list-item-content>
					<v-list-item-title>Midi music</v-list-item-title>
				</v-list-item-content>
			</v-list-item>

			<v-list-item link :to="{ name: 'midi-sound' }">
				<v-list-item-icon>
					<v-icon>mdi-music</v-icon>
				</v-list-item-icon>

				<v-list-item-content>
					<v-list-item-title>Midi sound</v-list-item-title>
				</v-list-item-content>
			</v-list-item>

			<v-list-item link :to="{ name: 'game' }">
				<v-list-item-icon>
					<v-icon>mdi-gamepad-variant</v-icon>
				</v-list-item-icon>

				<v-list-item-content>
					<v-list-item-title>Game</v-list-item-title>
				</v-list-item-content>
			</v-list-item>

			<v-list-item link :to="{ name: 'loggingCoreApp' }">
				<v-list-item-icon>
					<v-icon>mdi-format-list-bulleted</v-icon>
				</v-list-item-icon>

				<v-list-item-content>
					<v-list-item-title>Logging CoreApp</v-list-item-title>
				</v-list-item-content>
			</v-list-item>

			<v-list-item link :to="{ name: 'loggingCoreGpio' }">
				<v-list-item-icon>
					<v-icon>mdi-format-list-bulleted</v-icon>
				</v-list-item-icon>

				<v-list-item-content>
					<v-list-item-title>Logging CoreGpio</v-list-item-title>
				</v-list-item-content>
			</v-list-item>

			<v-list-item link :to="{ name: 'about' }">
				<v-list-item-icon>
					<v-icon>mdi-help-box</v-icon>
				</v-list-item-icon>

				<v-list-item-content>
					<v-list-item-title>About</v-list-item-title>
				</v-list-item-content>
			</v-list-item>
		</v-list>
	</v-navigation-drawer>
</template>

<script>
export default {
	name: "CoreDrawer",
	components: {},
	props: {
		drawer: {
			type: Boolean,
			default: true
		}
	},
	data() {
		return {
			clipped: false
		};
	},
	computed: {},
	methods: {}
};
</script>
