<template>
  <v-content class="grey lighten-3">
    <v-layout row wrap>
      <v-flex xs12></v-flex>
    </v-layout>
    <div id="core-view">
      <v-fade-transition mode="out-in">
        <router-view :key="key" />
      </v-fade-transition>
    </div>
  </v-content>
</template>

<script>
export default {
  name: "CoreView",
  components: {},
  computed: {
    key() {
      return `${this.$route.fullPath}`;
    }
  }
};
</script>
