<template>
  <v-app>
    <!-- <core-app-bar></core-app-bar> -->

    <core-view></core-view>
  </v-app>
</template>

<script>
export default {
  name: "App",

  components: {
    // CoreAppBar: () => import("@/components/core/AppBar"),
    CoreView: () => import("@/components/core/View")
  },

  data: () => ({
    //
  })
};
</script>
