<template>
	<v-dialog
		v-model="dialog"
		max-width="600px"
		@keydown.esc="dialog = false"
		@keydown.enter="save()"
	>
		<template v-slot:activator="{ on }">
			<v-btn v-on="on" icon color="primary" dark>
				<v-icon>mdi-pencil-outline</v-icon>
			</v-btn>
		</template>
		<v-card>
			<v-card-title>
				<span class="headline">Question</span>
			</v-card-title>
			<v-card-text>
				<v-container>
					<v-row>
						<v-col cols="12">
							<v-text-field
								label="Title"
								autofocus
								required
								v-model="question.title"
							></v-text-field>
						</v-col>
						<v-col cols="12">
							<v-text-field
								label="Text"
								required
								v-model="question.text"
							></v-text-field>
						</v-col>
						<v-col cols="12">
							<v-select
								clearable
								:items="systems"
								label="Select system"
								item-text="name"
								item-value="name"
								v-model="question.system"
							></v-select>
						</v-col>
						<!--
						<v-col cols="12">
							<span v-for="(answer, index) in question.answer" :key="index">{{
								answer
							}}</span>
						</v-col>
						-->
					</v-row>
					<image-row name="image" v-model="question.imageName"></image-row>
					<sound-row
						name="Intro sound: "
						:sound="question.introSound"
					></sound-row>
					<!--
					<v-row>
						<v-col cols="12">
							<v-card>
								<v-card-title primary-title>Hints</v-card-title>
								<v-card-text>
									<hint-row
										v-for="(hint, index) in question.hints"
										:key="index"
										:hint="hint"
										:name="'' + index"
									></hint-row>
								</v-card-text>
							</v-card>
						</v-col>
					</v-row>
					-->
					<v-row>
						<v-col cols="12">
							<v-card>
								<v-card-title primary-title>Answer</v-card-title>
								<answer-button-row
									:answer="question.answer"
								></answer-button-row>
							</v-card>
						</v-col>
					</v-row>
				</v-container>
			</v-card-text>
			<v-card-actions>
				<v-spacer></v-spacer>
				<v-btn color="primary" text @click="save()">Close</v-btn>
			</v-card-actions>
		</v-card>
	</v-dialog>
</template>

<script>
import api from "@/api/CoreImageApi";
import gameApi from "@/api/CoreGameApi";
import SoundRow from "@/components/SoundRow.vue";
import ImageRow from "@/components/ImageRow.vue";
// import HintRow from "@/components/HintRow.vue";
import AnswerButtonRow from "@/components/answer/ButtonRow.vue";

export default {
	name: "DialogEditQuestion",
	components: { SoundRow, /* HintRow, */ AnswerButtonRow, ImageRow },
	props: {
		question: { type: Object, required: true }
	},
	data() {
		return {
			dialog: false,
			imageFiles: [],
			systems: []
		};
	},
	computed: {
		costInSeconds: {
			get() {
				return this.question.costInSeconds;
			},
			set(newVal) {
				this.sound.milliseconds = parseInt(newVal);
			}
		}
	},
	methods: {
		async loadFiles() {
			var response = await api.fileList();
			if (response && response.data) {
				this.imageFiles = response.data;
			}
		},
		async loadSystems() {
			var response = await gameApi.systems();
			if (response && response.data) {
				this.systems = response.data;
			}
		},
		async save() {
			if (this.question) {
				// this.$emit("save", this.question);
				this.dialog = false;
			}
		}
	},
	mounted: function() {
		this.loadFiles();
		this.loadSystems();
	},
	created: function() {}
};
</script>
