<template>
  <v-dialog
    v-model="dialog"
    max-width="600px"
    @keydown.esc="dialog = false"
    @keydown.enter="upload()"
  >
    <template v-slot:activator="{ on }">
      <v-btn icon color="primary" v-on="on">
        <v-icon>mdi-image</v-icon>
      </v-btn>
    </template>
    <v-card>
      <v-card-title>
        <span class="headline">Image</span>
      </v-card-title>
      <v-img contain height="auto" :src="url"></v-img>

      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="accent" text @click="dialog = false">Close</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
export default {
  name: "DialogImage",
  components: {},
  props: { url: { Type: Object, Required: true } },
  data() {
    return {
      dialog: false,
      file: null
    };
  },
  computed: {},
  methods: {},
  mounted: function() {},
  created: function() {}
};
</script>
