<template>
  <v-dialog
    v-model="dialog"
    max-width="600px"
    @keydown.esc="dialog = false"
    @keydown.enter="save()"
  >
    <template v-slot:activator="{ on }">
      <v-btn color="primary" outlined text v-on="on">New game</v-btn>
    </template>
    <v-card>
      <v-card-title>
        <span class="headline">New game</span>
      </v-card-title>
      <v-card-text>
        <v-container>
          <v-row>
            <v-col cols="12">
              <v-text-field
                label="Game name"
                autofocus
                required
                v-model="newGameName"
              ></v-text-field>
            </v-col>
          </v-row>
        </v-container>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="accent" text @click="dialog = false">Close</v-btn>
        <v-btn color="primary" text @click="save()">Save</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import api from "@/api/CoreGameApi";

export default {
  name: "DialogNewGame",
  components: {},
  props: {},
  data() {
    return {
      dialog: false,
      newGameName: ""
    };
  },
  computed: {},
  methods: {
    async save() {
      if (this.newGameName) {
        this.$emit("save", this.newGameName);
        this.dialog = false;
        this.newGameName = "";
      }
    }
  },
  mounted: function() {},
  created: function() {}
};
</script>
