<template>
  <v-dialog
    v-model="dialog"
    max-width="600px"
    @keydown.esc="dialog = false"
    @keydown.enter="upload()"
  >
    <template v-slot:activator="{ on }">
      <v-btn text outlined color="primary" v-on="on">Upload game</v-btn>
    </template>
    <v-card>
      <v-card-title>
        <span class="headline">Upload game</span>
      </v-card-title>
      <v-card-text>
        <v-container>
          <v-row>
            <v-col cols="12">
              <v-file-input
                ref="my-file"
                show-size
                label="Select json file"
                accept="application/json"
                v-model="file"
                dense
              ></v-file-input>
              <br />
            </v-col>
          </v-row>
        </v-container>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="accent" text @click="dialog = false">Close</v-btn>
        <v-btn color="primary" text @click="upload()">Upload</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import api from "@/api/CoreGameApi";

export default {
  name: "DialogUploadGame",
  components: {},
  props: {},
  data() {
    return {
      dialog: false,
      file: null
    };
  },
  computed: {},
  methods: {
    async upload() {
      if (this.file) {
        this.$emit("upload", this.file);
        this.dialog = false;
        this.file = null;
      }
    }
  },
  mounted: function() {},
  created: function() {}
};
</script>
