<template>
  <v-app>
    <core-drawer :drawer="drawer"></core-drawer>

    <core-app-bar @toggle-drawer="drawer = !drawer"></core-app-bar>

    <core-view></core-view>
  </v-app>
</template>

<script>
export default {
  name: "App",

  components: {
    CoreAppBar: () => import("@/components/core/AppBar"),
    CoreView: () => import("@/components/core/View"),
    CoreDrawer: () => import("@/components/core/Drawer")
  },

  data: () => ({
    drawer: true
  })
};
</script>
