<template>
	<v-container class="grey lighten-5">
		<v-row no-gutters>
			<v-col v-for="button in buttons" :key="button.id" cols="12" sm="6">
				<v-card class="pa-2" outlined tile>
					<v-card-actions>
						<v-spacer v-if="button.id % 2 != 0"></v-spacer>
						<v-fab-transition>
							<v-btn
								fab
								ripple
								raised
								:outlined="button.on"
								@click="select(button.id)"
								color="primary"
							>
								<v-icon dark>{{ button.id }}</v-icon>
							</v-btn>
						</v-fab-transition>
					</v-card-actions>
				</v-card>
			</v-col>
		</v-row>
	</v-container>
</template>

<script>
export default {
	name: "AnswerButtonRow",
	components: {},
	props: { answer: { Type: Array, Required: true } },
	data() {
		return {
			buttons: [
				{ id: 1, on: false },
				{ id: 2, on: false },
				{ id: 3, on: false },
				{ id: 4, on: false },
				{ id: 5, on: false },
				{ id: 6, on: false },
				{ id: 7, on: false },
				{ id: 8, on: false },
				{ id: 9, on: false },
				{ id: 10, on: false }
			]
		};
	},
	computed: {},
	methods: {
		async select(id) {
			this.buttons[id - 1].on = !this.buttons[id - 1].on;
			if (this.buttons[id - 1].on) {
				this.answer.push(id);
			} else {
				const index = this.answer.indexOf(id);
				if (index > -1) {
					this.answer.splice(index, 1);
				}
			}
		}
	},
	mounted: function() {
		var that = this;
		this.answer.forEach(element => {
			that.buttons[element - 1].on = true;
		});
	},
	created: function() {}
};
</script>
